* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    background-color: #faf4ede7;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
    width: 400px;
    padding: 20px;
    height: 400px;


    box-shadow: 0px 10px 15px 0px rgba(8, 8, 8, 0.671);
    border-radius: 20px;
    background-color: #fff;


}

span {
    color: #003572;
}

h1{
    border-bottom: 2px solid #002349 ;
    border-radius: 5px;
}

.preenchimento {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.preenchimento input {
    height: 55px;
    width: 320px;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid  #003166;
    color: #003166;
}
.preenchimento input:focus {
    outline: 2px solid #0056b3; /* Escolha a cor que mais combina com seu botão */
    border: none;
}


select {
    height: 35px;
    width: 250px;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid #a0a0a0bb;
    color: #003166;
}

.preenchimento select:focus {
    outline: 2px solid #0056b3; /* Escolha a cor que mais combina com seu botão */
    border: none;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes button {
    height: 35px;
    width: 200px;

    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.botoes button:hover {
    transform: scale(1.05);
}

.botoes .envio {
    background-color: #003166;
}

.botoes .limpeza {
    background-color: transparent;
    border: 1px solid #003572;
    color: #003572;
}